body {
      background: rgb(2,0,36);
      background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(169,65,91,1) 0%, rgba(42,48,81,1) 100%);
  }
    


hr {
   /* The line beneath the main content. */
   border: black solid 1px;
   width: 700px;
}

.jumbotron {
   background: rgb(2,0,36);
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(169,65,91,1) 0%, rgba(42,48,81,1) 100%);
}

.navbar-nav a {
   font-family: 'Rubik', sans-serif;
   font-size: 18px;
   text-transform: uppercase;
   font-weight: bold;
   margin-left: 10px;
}

.navbar-light .navbar-brand {
   font-family: 'Rubik', sans-serif;
   color:#fff;
   font-size: 25px;
   text-transform: uppercase;
   font-weight: bold;
   letter-spacing: 2px;
   margin-left: 30px;
}

.navbar-light .navbar-nav .nav-link {
   color:#fff;
}

.content p {
   color:#fff;
   font-weight: 500;
   text-align: center;
   font-size: 22px;
   margin-bottom: 600px;
   margin-left: 75px;
   margin-right: 75px;
}


#content {
   font-family: 'Ubuntu Condensed', sans-serif;
    color:#fff;
    text-align: center;
    padding-top: 25%;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
    font-size: 5rem;
    font-weight: 500;
}

#galleryHeader {
   text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
   font-size: 3rem;
   color:#fff;
}


#contact {
   color: blue;
   text-decoration: underline;
}

#navLinks .nav-link:hover {
   color: #94248b;
   -webkit-transition-duration: 0.7s;
   transition-duration: 0.7s;
}


